// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}
// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.header{
		margin: 0 20px 0 20px;
	}
	.promo__wrapper{
		margin-right: 20px;
	}
	.benefits__descr{
		margin: 40px 10px 0 10px;
	}
	.benefits__wrapper {
		margin: 0 10px 0 10px;
	}
	.feed-form {
		margin: 36px 20px;
	}
	.consultation__descr{
		margin-left: 20px;
	}
	.consultation{
		.title{
			margin-left: 20px;
		}
	}
	.carousel{
		.prev{
			display: none;
		}
		.next{
			display: none;
		}
	}
}
// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {	

}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.header{
		&__logo{
			width: 190px;
			img{
				width: 100%;
			}
		}
		&__official {
			font-size: 12px;
			span{
				font-size: 15px;
			}
		}	
		&__phone{
			font-size: 15px;
		}
	}
	.button{
		font-size: 10px;
		width: 130px;
		height: 30px;
		&_main{
			margin-top: 67px;
			width: 225px;
			height: 50px;	
			font-size: 14px;
		}
	}
	.promo__link{
		font-size: 15px;
		a{
			font-size: 14px;
		}
	}
	.button_submit{
		width: 100%;
		height: 50px;
		font-size: 15px;
	}
	.carousel{
		.tns-item{
			
			img{
				width: 100%;
			}
		}
	}
}

@media (max-width: 320.98px){
	.header{
		flex-direction: column;
		&__logo{
			width: 250px;
			margin-bottom: 10px;
		}
		&__official {
			font-size: 15px;
			margin-bottom: 10px;
			span{
				font-size: 17px;
			}
		}	
		&__phone{
			font-size: 20px;
			margin-bottom: 5px;
		}
		.button{
			font-size: 14px;
			width: 170px;
			height: 40px;
		}
	}
	.promo{
		&__header{
			font-size: 35px;
			text-align: center;
		}
		&__subheader{
			font-size: 22px;
			text-align: center;
		}
		&__icons{
			width: max-content;
		}
		&__icon{
			width: 93px;
			font-size: 12px;
		}
	}
	.benefits{
		&__wrapper{
			flex-direction: column;
		}
	}
	.consultation{
		.consultation__title{
			font-weight: 700;
			font-size: 28px;
			line-height: 35px;	
			text-align: center;		
		}
		.consultation__descr{
			text-align: center;
			font-size: 15px;
		}
		.feed-form{
			width: 250px;
			margin: 20px auto;
		}
	}
	.catalog{
		&__tabs{
			flex-direction: column;
		}	
	}	
}





