@import 'base/variables';
*{
    font-family: 'MuseoSansCyrl', sans-serif; //Шрифт проекта
}

.container{
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'base/media';
@import 'blocks/consultation';
@import 'blocks/forms'


